.display {
    height: 75vh;
}

.worldContainer {
    position: relative;

    box-shadow: 1px 0 20px black;
}

.scrollOpen {
    font-size: 3vh;
    color: rgba(255, 255, 255, .6);
    user-select: none;

    position: absolute;

    right: 2vw;
    bottom: 1vh;
    margin: 0;

    animation: headerOpen;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.scrollClosed {
    font-size: 3vh;
    color: rgba(255, 255, 255, .6);
    user-select: none;

    position: absolute;

    right: 2vw;
    bottom: 1vh;
    margin: 0;

    animation: headerClose;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}